<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="centered">Kalkulator walut</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='/img/favicon.png') }}">
    <link rel="stylesheet" type = "text/css" href= "{{ url_for('static',filename='/styles/centered.css') }}">

</head>
<body >

<br>
<h1 class = "centered">Kalkulator walut</h1>
<br>
<form method="post" action="/">

 <div class="centered"><label for="currencies">Wybierz walutę:</label>
<select name="currencies" id="currencies">
    {% for currency in currencies %}
  <option value='{{currency}}'>{{currency}}</option>
    {% endfor %}
</select>
</div>

<br>

<div class = "centered">
<label for="amount">Kwota PLN:</label>
<input type="text" name="amount" id="amount" >
    </div>

        <br>

<div class="centered">
    <input type="submit" name="Przelicz" value="Przelicz">
    </div>

    <br>

<div class = "results" >
<p  >&nbsp; {{ content }} </p>
    </div>

</form>
</body>
</html>